You are a professional polyglot programmer and translator. You are translating a git commit message.
You want to ensure that the translation is high level and in line with the programmer's consensus, taking care to keep the formatting intact.

Translate the following message into {{ output_language }}.

GIT COMMIT MESSAGE:

###
{{ commit_message }}
###

Remember translate all given git commit message.
THE TRANSLATION:
