[package]
name = "gptcommit"
version = "0.5.7"
edition = "2021"
rust-version = "1.67"
authors = ["Roger Zurawicki <roger@zura.wiki>"]
categories = ["development-tools"]
keywords = ["openai", "githook", "git", "ai", "gpt"]
description = "A git prepare-commit-msg hook for summarizing commits with LLMs."
readme = "README.md"
license = "MIT"
homepage = "https://github.com/zurawiki/gptcommit"
repository = "https://github.com/zurawiki/gptcommit"

[[bin]]
name = "gptcommit"
path = "src/main.rs"

[dependencies]
anyhow = "1.0.70"
async-openai = "0.10.2"
async-trait = "0.1.68"
backoff = "0.4.0"
clap = { version = "4.2.1", features = ["derive"] }
colored = "2.0.0"
config = { version = "0.13.3", features = ["toml"] }
dirs = "5.0.0"
lazy_static = "1.4.0"
log = "0.4.17"
regex = "1.7.3"
serde = { version = "1.0", features = ["derive"] }
serde_derive = "1.0.159"
serde_json = "1.0.95"
simple_logger = "4.1.0"
strum = "0.24.1"
strum_macros = "0.24.3"
tera = { version = "1.18.1", default-features = false }
tiktoken-rs = { version = "0.4.1", features = ["async-openai"] }
tokio = { version = "1.27.0", features = ["full"] }
toml = "0.7.3"
toml_edit = "0.19.8"
which = "4.4.0"


[dependencies.reqwest]
version = "0.11.16"
features = [
    "brotli",
    "gzip",
    "json",
    "multipart",
    "rustls-tls",
    "stream",
    "socks"
]
default-features = false

[dev-dependencies]
async-std = "1.12.0"
