name: Release

on:
    workflow_call:
        inputs:
            publish-tag:
                required: true
                type: string
        secrets:
            CARGO_REGISTRY_TOKEN:
                required: true

env:
    RUST_BACKTRACE: 1
    CARGO_TERM_COLOR: always

jobs:
    create-release:
        name: Create release
        runs-on: ubuntu-latest
        if: github.ref == 'refs/heads/main'
        steps:
            - name: Checkout
              uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
              with:
                  persist-credentials: true

            - name: Install rust
              uses: actions-rs/toolchain@16499b5e05bf2e26879000db0c1d13f7e13fa3af # v1
              with:
                  toolchain: stable
                  profile: minimal
                  override: true

            - uses: Swatinem/rust-cache@f0deed1e0edfc6a9be95417288c0e1099b1eeec3 # v2

            - name: Publish
              run: cargo publish
              env:
                  CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}

            - name: Tag the version
              run: |
                  git tag "${{ inputs.publish-tag }}"
                  git push origin "${{ inputs.publish-tag }}"
            - uses: taiki-e/create-gh-release-action@72d65cee1f8033ef0c8b5d79eaf0c45c7c578ce3 # v1
              name: Create github release
              with:
                  branch: main
                  ref: refs/tags/${{ inputs.publish-tag }}
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    trigger-homebrew:
        name: Trigger Homebrew release
        needs:
            - create-release
        runs-on: ubuntu-latest
        steps:
          - name: Trigger homebrew release
            run: gh workflow run bump.yml --repo zurawiki/homebrew-brews || true
            env:
                GH_TOKEN: ${{ secrets.HOMEBREW_RELEASE_GH_TOKEN }}
          - name: Trigger Winget Build
            uses: actions/github-script@4020e461acd7a80762cdfff123a1fde368246fa4
            with:
              github-token: ${{ secrets.GITHUB_TOKEN }}
              script: |
                  await github.request('POST /repos/{owner}/{repo}/actions/workflows/{workflow_id}/dispatches', {
                      owner: 'zurawiki',
                      repo: '${{ github.event.repository.name }}',
                      workflow_id: 'winget.yml',
                      ref: 'main',
                      inputs: {"version": process.env.GITHUB_REF.replace('refs/tags/v', '')}
                  })

    upload-binary:
        name: ${{ matrix.target }}
        needs:
            - create-release
        strategy:
            fail-fast: false
            matrix:
                include:
                    - target: x86_64-unknown-linux-gnu
                    - os: macos-latest
                      target: aarch64-apple-darwin
                    - os: macos-latest
                      target: x86_64-apple-darwin
                    - os: windows-latest
                      target: x86_64-pc-windows-msvc
        runs-on: ${{ matrix.os || 'ubuntu-latest' }}
        steps:
            - name: Checkout
              uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
              with:
                  persist-credentials: false

            - name: Install rust
              uses: actions-rs/toolchain@16499b5e05bf2e26879000db0c1d13f7e13fa3af # v1
              with:
                  toolchain: stable
                  profile: minimal
                  override: true

            - name: Upload binary
              uses: taiki-e/upload-rust-binary-action@e7953b6078194a4ae5f5619632e3715db6275561 # v1
              with:
                  bin: gptcommit
                  target: ${{ matrix.target }}
                  ref: refs/tags/${{ inputs.publish-tag }}
                  tar: all
                  zip: windows
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  CARGO_PROFILE_RELEASE_CODEGEN_UNITS: 1
                  CARGO_PROFILE_RELEASE_LTO: true
